.required {
    font-size: 8px;
    color: red;
    margin-bottom: 10px;
    margin-left: 5px;
}

.link {
    text-decoration: none;
}

.small {
    font-size: 14px;
    font-weight: bold;
}

.validation-error {
    font-weight: bold;
    color: red;
    font-size: 12px;
}

.breadcrumbIcon {
    margin-bottom: 12px;
}


/* table area */
.table-area {
    font-size: 14px;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
}

.table-area .name-column {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
}

.table-area .table-element {
    white-space: nowrap;
    padding: 6px 6px 0px 6px;
}

.table-area .status-select {
    border: none;
    border-radius: 0.25rem;
    font-size: 14px;
    cursor: pointer;
    box-shadow: none;
    background-color: aliceblue;
    min-width: 110px;
}

.table-area .status-select:focus {
    box-shadow: none;
}

.table-area .table-btn {
    margin-top: 2px;
}

.table-area tr td {
    padding: 0px;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.paginationBtn {
    background-color: #E9E9E9;
    border: none;
    color: black;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.paginationBtn:hover {
    background-color: #ddd;
}

.paginationBtn.activePagination {
    background-color: #007bff;
    color: #fff;
}

/* end pagination */
/* Define classes for different colors */
.active-option {
    color: green;
}

.other-option {
    color: red;
}

.custom-dropdown {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 40px;
    /* Adjust this height based on your preference */
}

.custom-dropdown select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    z-index: 1;
}

.custom-dropdown::after {
    content: '\25BC';
    /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-dropdown select:focus+.validation-error {
    display: block;
}

.active-status {
    color: green;
    /* Change color for active status */
}

.inactive-status {
    color: red;
    /* Change color for inactive status */
}

.sortOrder {
    cursor: pointer;
}

.ascActive {
    color: red;
}

.descActive {
    color: red;
}

.custom-scrollbar {
    white-space: nowrap;
    overflow-x: auto;
}

.table-area .error-row td {
    color: red;
    border: 1px solid red;
    background-color: rgb(255, 255, 255);
}

.active-btn {
    background-color: #135713;
    width: 100%;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.inactive-btn {
    background-color: #989797;
    width: 100%;
    color: rgb(112, 108, 108);
    padding: 10px;
    border-radius: 4px;
}

.available-date {
    background-color: #135713;
    color: white !important;
    cursor: pointer !important;
}

.unavailable-date {
    background-color: rgb(172, 31, 31);
    color: white !important;
    cursor: not-allowed !important;
}

.unavailable-date:hover {
    color: black !important;
}

.available-date:hover {
    color: black !important;
}

.date-picker {
    font-size: 10px !important;
}

.serial-date-picker {
    border: none !important;

    font-weight: bold !important;
}

.serial-date-picker:focus {
    box-shadow: none !important;
}

.datePickerActive {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 16px !important;
}

.datePickerDisable {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: 14px !important;
}