.required {
    font-size: 8px;
    color: red;
    margin-bottom: 10px;
    margin-left: 5px;
}

.link {
    text-decoration: none;
}

.small {
    font-size: 14px;
    font-weight: bold;
}

.validation-error {
    font-weight: bold;
    color: red;
    font-size: 12px;
}

.breadcrumbIcon {
    margin-bottom: 12px;
}


/* table area */
.table-area {
    font-size: 14px;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
}

.table-area .name-column {
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
}

.table-area .status-select {
    border: none;
    border-radius: 0.25rem;
    font-size: 14px;
    cursor: pointer;
    box-shadow: none;
    background-color: aliceblue;
}

.table-area .status-select:focus {
    box-shadow: none;
}

.table-area tr td {
    min-height: 40px;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.paginationBtn {
    background-color: #f4f4f4;
    border: none;
    color: #333;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 4px;
    border-radius: 4px;
    font-size: 15px;
}

.paginationBtn:hover {
    background-color: #ddd;
}

.paginationBtn.activePagination {
    background-color: #007bff;
    color: #fff;
}

/* end pagination */
/* Define classes for different colors */
.active-option {
    color: green;
}

.other-option {
    color: red;
}

.custom-dropdown {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 40px;
    /* Adjust this height based on your preference */
}

.custom-dropdown select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    z-index: 1;
}

.custom-dropdown::after {
    content: '\25BC';
    /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-dropdown select:focus+.validation-error {
    display: block;
}

.active-status {
    color: green;
    /* Change color for active status */
}

.inactive-status {
    color: red;
    /* Change color for inactive status */
}