/* show list dropdown */
.listArea {
    min-height: 70vh;
}

.listArea .loadingArea {
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    margin-top: 16px;
    border-radius: 4px;
    color: red;
    font-weight: bold;

}

.filterHeader {
    padding: 2px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.customSelectFilter {
    font-weight: bold;
    padding: 1px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    font-size: 14px;
    margin-bottom: 10px;
}

.filterHeader span {
    font-weight: bold;
    padding: 10px 10px 8px;
    background-color: #ffffff;
    font-size: 12px;
}

.filterHeader .customSelect {
    border: none;
    border-radius: 0.25rem;
    padding: 0.375rem 1rem;
    font-size: 14px;
    cursor: pointer;
    box-shadow: none;
    font-weight: bold;
    width: 4.5rem;
}

.filterHeader .customSelect option[defaultValue] {
    background-color: #007bff;
    color: #fff;
}

/* filter area */

.filterArea {
    position: relative;
    padding: 2px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.filterArea button {
    border: none;
    width: 100%;
    padding: 10px 10px 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #ffffff;
    font-size: 12px;
    position: relative;
    z-index: 1;
}

.filterArea>div {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    border-radius: 4px;
    z-index: 2;
    display: none;
    transition: 0.3s;
    overflow-y: auto;
}

.filterArea .radioArea {
    display: flex;
    transition: 0.3s;
    padding: 7px;
    margin: 2px 0;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
}

.filterArea .dropdownIcon {
    padding-bottom: 2px;
}

.scrollable {
    max-height: 200px;
    overflow-y: auto;
}

.radioInput {
    margin-top: 2px;
    margin-right: 5px;
}

.filterArea label {
    font-size: 14px;
}

.filterArea .radioArea:hover {
    background-color: #E9E9E9;
}

.filterArea .show {
    display: block;
}

/* end filter area */

/* search area */
.searchArea {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.searchBox {
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 10px;
    box-shadow: none;
    border: none;
}

.searchBox::placeholder {
    font-weight: bold;
    font-size: 14px;
}

.searchBox:focus {
    box-shadow: none;
}

.addBtn {
    color: black;
    border: none;
    width: 100%;
    font-weight: bold;
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
}

.notFound {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    margin-top: 12px;
    border-radius: 4px;
    color: red;
    font-weight: bold;
}

.timeInput {
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
}

/* .timeInput:focus {
    box-shadow: none;
} */