.body {
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(211, 211, 211, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 16px;
}

.main .box {
    padding: 24px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main .box .heading {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.main .box .navTab {
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
}

.navTab .navItem {
    flex: 1;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;

}

.main .box input {
    min-width: 280px;
}

.passwordBtn {
    margin-left: -40px;
    margin-bottom: -2px;
    cursor: pointer
}

@media (max-width: 768px) {
    .navTab .navItem {
        flex: 0 0 calc(50% - 10px);
    }
}